/**** Media Queries ***/

@media (max-width:450px) {
  
  .navbar-brand img {
    width:130px;   
   }

   .navbar-dark .navbar-toggler {
    border-color:none;
    }

   .navbar-toggler {
	padding:0px;
	font-size: 1.25rem;
	background-color: transparent;
	border:none;
	border-radius:0px;
	transition:none;
	}
   
    .navbar-toggler:focus {
    box-shadow:none;
    }
   
    .banner .banner_text h1 {
    top: 20%;
    font-weight: 500;
    font-size:30px;
    }
  
    .banner .banner_text p{
    top: 38%;
    }
    
    .banner img {
    background: url(img/banner-mobile.jpg);
    margin-top: 60%;
    }




}

@media (min-width: 451px) and (max-width: 580px) { 

}

@media (min-width: 581px) and (max-width: 750px) { 

}

@media (min-width: 751px) and (max-width: 850px) { 

}

@media (min-width: 851px) and (max-width: 999px) { 

}

@media (min-width: 1000px) and (max-width:1200px) { 

}

@media (min-width: 1201px) and (max-width:1440px) { 

}

@media (min-width: 1441px) and (max-width:2000px) { 

}

@media (min-width:2001px) {

}


